.carousel {
	overflow: hidden;
}

.inner {
	white-space: nowrap;
	transition: transform 0.3s;
}

.carouselItem {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	background-color: teal;
	color: white;
}
